
    *{ box-sizing: border-box}
    body {
        
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
    
    /******* Tite Page header *********/
    
    .header {
      top:0;
      left:0;
      position:fixed;
      background:black;
      color: #6e6a57;
      padding:2px;
      font-size: 20px;
      text-align:center;
      overflow-y:hidden;
     height:100px;
      width:100%;
    
    }
    
    .content {
      padding: 90px 180px;
      text-align:left;
    }
    
    /******* Vertical Tabs *********/
    
    .tab {
      height:100%; 
      width:160px;
      float: left;
      border: none;
      background-color:black;
      position:fixed;
      z-index:1;
      top: 69px;
      left:0;
    
      overflow-x:hidden;
      padding-top:30px;
    }
    
    /******* Vertical Tab Buttons *********/
    
    .tab button {
      display: block;
      background-color: inherit;
      color: #6e6a57;
      padding: 40px 20px;
      width: 180px;
      border: none;
      outline: none;
      text-align: center;
      cursor: pointer;
      transition: 0.3s;
      font-size: 17px;
    }
    
    /****** background color of buttons on hover ******/
    .tab button:hover {
      background-color: #ddd;
    }
    
    /***** Create an active/current "tab button" class *****/
    .tab button.active {
      background-color: #ccc;
    }
    
    /***** Tab content sytle *****/
    .tabcontent {
      float: left;
      
      padding: 0px 12px;
    
      width: 100%;
      min-width: 1000px;
    
      border-left: none;
      height: 600px;
    }
    
    /***** 'Admin Details' Section fields *****/
    
      input[type=text], select {
      
      width: 40%;
      padding:12px 20px;
      margin: 8px 0px;
      display: block;
      text-align: centre;
      border: 1px solid #ccc;
      box-sizing: border-box;
    }
    
    input[type=email], select {
      
      width: 40%;
      padding:12px 20px;
      margin: 8px 0px;
      display: block;
      text-align: centre;
      border: 1px solid #ccc;
      box-sizing: border-box;
    }
    
    
    input[type=date] , select{
     padding: 12px 20px; 
      margin: 8px 0px;
      border: none; 
      cursor: pointer;
      border: 1px solid #ccc;
      box-sizing: border-box;
    }
    
    input[type=submit] {
      width: 40%;
      background-color: rgb(101, 119, 102);
      color: white;
      padding: 14px 20px;
      margin: 8px 0px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }
    
    input[type=submit]:hover {
        background-color: #e4d3a3;
      color: #000;
    }
    
    .center {
    text-align:center;
    color:#6e6a57;
    }   
    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }
    
    td, th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }
    
    tr:nth-child(even) {
      background-color: #dddddd;
    }  
    


    /***** 'Media Library'Section Content *****/

    .center{
      text-align:center;
      color:#6e6a57;
    }

      /***** 'Media Library'Section Categories *****/

    .accordion {
        background-color: #eee;
        color: #444;
        cursor: pointer;
        padding: 18px;
        width:100%;
        min-width: 1025px;
        border: none;
        text-align: left;
        outline: none;
        font-size: 15px;
        transition: 0.4s;
      }
      
      .active, .accordion:hover {
        background-color: #ccc; 
      }
      
      .panel {
        padding: 0 18px;
        display: none;
        background-color: white;
        overflow: hidden;
      }
      div.gallery {
    border: 1px solid #ccc;
  }
  
  div.gallery:hover {
    border: 1px solid #777;
  }
  
  div.gallery img {
    width: 100%;
    height: auto;
  }
  
  div.desc {
    padding: 15px;
    text-align: center;
  }
  
  * {
   box-sizing: border-box;
  } 
  
  .responsive {
    padding: 0 6px;
    float: left;
    width: 25%;
  }
  
  .clearfix:after {
    content: "";
    display: table;
    clear: both;
  }
    
    
    