html { 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    scroll-behavior: smooth;
}

.navbar {
    text-align: center;
    font-family: sans-serif;
    font-size: 20px;  
    word-spacing: 85px;
    -webkit-font-feature-settings: "smcp"; 
    position: sticky;
    top:0px; 
    background-color: black;
    padding: 20px 20px 20px 20px ;
    margin: -8px;
    z-index: 9999;
}

a:link, a:visited {
    text-decoration: none;
    color: rgb(115 114 102);
}

a:hover, a:active {
    text-decoration: none;
    color:ivory;
    filter: blur(1px)
}

.top10 {
    font-family: serif;
    -webkit-font-feature-settings: "smcp";
    font-size: 110px;
    text-align: center;
    color: ivory;
    position: relative; bottom: 120px;
    opacity: 0%; /* This element is needed for spacing, but is invisible for now */
}

.fpff {
    font-family: serif;
    -webkit-font-feature-settings: "smcp";
    font-size: 40px;
    text-align: center;
    position: relative; bottom: 380px;
    /*letter-spacing: 14px;  Commented this out in order for the title animation to work */
    color: ivory;
    opacity: 0%; /* This element is needed for spacing, but is invisible for now */
}

.fpff2 {
    font-family: serif;
    -webkit-font-feature-settings: "smcp";
    font-size: 40px;
    text-align: center;
    position: relative; bottom: 500px;
    /*letter-spacing: 14px;  Commented this out in order for the title animation to work */
    color: ivory;
    opacity: 100%;
    filter: blur(1.7px);
}

.bote {
    font-family: sans-serif;
    -webkit-font-feature-settings: "smcp";
    font-size: 20px;
    /*text-align: center;*/
    position: relative; bottom: 178px; left: 47%;
    color: ivory;
    opacity: 84%;
}

.hrleft {
    width: 80px; height: 2%;
    position: relative; bottom: 208px; left: 40%;
    opacity: 78%;
}

.hrright {
    width: 80px; height: 2%;
    position: relative; bottom: 218px; left: 820px;
    opacity: 78%;
}

.section {
    font-family: serif;
    -webkit-font-feature-settings: "smcp";
    font-size: 31px;
    text-align: center;
    border-left: 20px ivory; 
    color: ivory;
}

.kiahpic {
    float: right;
    position: relative; right: 222px; top: 20px;
}

.resize {
    width: 400px;
    height: 430px;
    object-fit: cover;
}

.p1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: auto;
    text-align: left justify; 
    width: 30%;
    color: ivory;
    position: relative; left: 218px;
}

label {
    font-family: sans-serif;
    color: ivory;
    font-size: x-large;
    display: inline-block;
    width: 20%;
    text-align: left;
}

input,textarea,text {
    font-size: larger;
    display: inline-block;
    min-width: 10%;
    max-width:50%;
    text-align: left;
    caret-color: red;
    font-family: sans-serif;
    color:rgb(115,114,102) 
}

.mySlides{
    display: none;
  }
.slideshow-container {
    width: 100%;
    min-width: 500px;
    max-width: 1000px;
    position: relative;
    margin: auto;
    height: 100%;
    min-height: 500px;
    max-height: 600px;

}
/*The width and height of the slideshow image*/
.slideImg{
    min-width: 500px;
    max-width: 1000px;
    min-height: 500px;
    max-height: 600px;
    height: 100%;
    width: 100%;
}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute; 
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}
/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
    .prev, .next,.text {font-size: 11px}
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}
/* Fading animation */
@-webkit-keyframes fade {
from {opacity: .4} 
to {opacity: 1}
}
/* Fading animation */
@keyframes fade {
from {opacity: .4} 
to {opacity: 1}
}

/*the dot under the slideshow*/
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: ivory;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    position: relative; bottom: 24px;
    opacity: 40%;
}
.active, .dot:hover {
    background-color: ivory;
    filter: blur(2px);
    opacity: 70%;
}

.vmfj {
    text-align: right;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    -webkit-font-feature-settings: "smcp";
    font-size: auto;
    color: ivory;
    position: relative; right: 225px; bottom: 50px;
}

.form {
    padding: 60px 80px 40px 222px; 
}

/*Blurred background image*/
.img-src.blurred-image {
    opacity:0;
    -webkit-filter: blur(20px) brightness(0.7);
    -ms-filter: blur(20px) brightness(0.7);
    -o-filter: blur(20px) brightness(0.7);
    filter: blur(20px) brightness(0.7);
}

/* */
#blurred-image-container {
    display:block;
    padding:0;
    position:fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
    z-index:-1;
}

/*Background Image*/
.img-src { 
    position: absolute;
    background: url(image/hhouse.jpg) no-repeat center center fixed; 
    background-size: cover;
    top: -10%;
    bottom: 10%;
    left: -10%;
    right: 10%;
    width:120%;
    height:120%;
}
/*logo and change opacity when hovering*/
.logo {
    font-size: 30px;
    width: 50px;
    height: 40px;
    opacity: 0.7;
}

.logo:hover {
    opacity: 0.7;
}
.center {
    margin: auto;
    width: 60%;
    padding: 10px;
    text-align: center;
  }

  /* Start of Fade-in Title Animation Code */

.flong{   
    animation: fadeIn ease 17s;
    -webkit-animation: fadeIn ease 17s;
    -moz-animation: fadeIn ease 17s;
    -o-animation: fadeIn ease 17s;
    -ms-animation: fadeIn ease 17s;
    display: inline-block;
    justify-content: center;
  }
  
  .fshort{
    animation: fadeIn ease 7s;
    -webkit-animation: fadeIn ease 7s;
    -moz-animation: fadeIn ease 7s;
    -o-animation: fadeIn ease 7s;
    -ms-animation: fadeIn ease 7s;
    display: inline-block;
    justify-content: center;
  }
  
  .fmed{
    animation: fadeIn ease 12s;
    -webkit-animation: fadeIn ease 12s;
    -moz-animation: fadeIn ease 12s;
    -o-animation: fadeIn ease 12s;
    -ms-animation: fadeIn ease 12s;
    display: inline-block;
    justify-content: center;
  }
  
  
  @keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-moz-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-webkit-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-o-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-ms-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
  }
  
  /* End Fade-in Title Animation Code */