html { 
        background: url(image/hhouse.jpg) no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
}

.navbar {
    text-align: center;
    font-family: sans-serif;
    font-size: 20px;  
    word-spacing: 85px;
    -webkit-font-feature-settings: "smcp"; 
    position: sticky;
    top:0px; 
    background-color: black;
    padding: 20px 20px 20px 20px ;
    margin: -8px;
    z-index: 9999;
}

a:link, a:visited {
    text-decoration: none;
    color: rgb(115 114 102);
}

a:hover, a:active {
    text-decoration: none;
    color:ivory;
    filter: blur(1px)
}

body {
    background-color;
}

.top10 {
    font-family: serif;
    -webkit-font-feature-settings: "smcp";
    font-size: 110px;
    text-align: center;
    color: ivory;
    position: relative; bottom: 120px;
    opacity: 44%;
}

.hh {
    font-family: serif;
    -webkit-font-feature-settings: "smcp";
    font-size: 40px;
    text-align: center;
    position: relative; bottom: 310px;
    letter-spacing: 14px;
    color: ivory;
    opacity: 
}

.bote {
    font-family: sans-serif;
    -webkit-font-feature-settings: "smcp";
    font-size: 20px;
    text-align: center;
    position: relative; bottom: 130px;
    color: ivory;
    opacity: 84%;
}

.section {
    font-family: serif;
    -webkit-font-feature-settings: "smcp";
    font-size: 31px;
    text-align: left;
    border-style: ;
    border-left: 20px ivory; 
    color: ivory;
}

.p1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: auto;
    text-align: left justify;
    width: 30%;
    color: ivory;
}

label {
    font-family: sans-serif;
    color: ivory;
    font-size: x-large;
    display: inline-block;
    width: 20%;
    text-align: left;
}

input,textarea,text {
    font-size: larger;
    display: inline-block;
    min-width: 10%;
    max-width:50%;
    text-align: center;
}

.mySlides{
    display: none;
  }
.slideshow-container {
max-width: 500px;
position: relative;
margin: auto;
}

/* Next & previous buttons */
.prev, .next {
cursor: pointer;
position: absolute;
top: 50%;
width: auto;
padding: 16px;
margin-top: -22px;
color: white;
font-weight: bold;
font-size: 18px;
transition: 0.6s ease;
border-radius: 0 3px 3px 0;
user-select: none;
}
/* Position the "next button" to the right */
.next {
right: 0;
border-radius: 3px 0 0 3px;
}
/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
background-color: rgba(0,0,0,0.8);
}
/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
.prev, .next,.text {font-size: 11px}
}

/* Fading animation */
.fade {
-webkit-animation-name: fade;
-webkit-animation-duration: 1.5s;
animation-name: fade;
animation-duration: 1.5s;
}

@-webkit-keyframes fade {
from {opacity: .4} 
to {opacity: 1}
}
@keyframes fade {
from {opacity: .4} 
to {opacity: 1}
}


.dot {
cursor: pointer;
height: 15px;
width: 15px;
margin: 0 2px;
background-color: #999999;
border-radius: 50%;
display: inline-block;
transition: background-color 0.6s ease;
}
.active, .dot:hover {
background-color: #111111;
}
